@namespace DartsScoreboard
@page "/cricket-setup"

<div class="setup-container">
    <div class="setup-header">
        <button class="back-btn" @onclick="GoBack">
           Back
        </button>
        <h2>Cricket Game Setup</h2>
    </div>

    <div class="game-container">
        <!-- Player Options -->
        <div class="player-options">
            <div class="players-header">

            <h4>Player Settings</h4>
            <!-- Add Player -->
            <button class="btn btn-primary mb-2" @onclick="OpenAddPopup" disabled="@IsFull">
                +
            </button>
            </div>

            <!-- Added Players Display -->
            <div class="players-grid">
                @foreach (var player in PlayerService.SelectedPlayers)
                {
                    <div class="player-card">
                        <div class="player-name">@player.Name</div>
                        <button class="remove-btn" @onclick="() => PlayerService.RemovePlayer(player)">
                            ×
                        </button>
                    </div>
                }
            </div>
        </div> 
       @*  <!-- Game setup -->
        <div class="player-options">
            <div class="players-header">

            <h4>Game Settings</h4> 
            </div>

            <!-- Added Players Display -->
            <div class="players-grid">
             
            </div>
        </div>  *@

        <!-- Start Button -->
        <div class="start-section">
            <button class="btn btn-primary start-btn" @onclick="StartGame" >
                Start Cricket Game
            </button>
        </div>
    </div>
</div>

@code {
    public bool CanStart => PlayerService.SelectedPlayers.Count >= 2;

    private void GoBack()
    {
        _NavigationManager.NavigateTo("/games");
    }
}
